.amount-span{
    color: grey;
    font-size: .8rem;
    letter-spacing: .5px;
}
form label{
    font-size: 15px;
    margin-bottom: 5px;
}

.add-transaction-container{
    background-color: #ffffff;
    padding: 20px;
    padding-top: 5px;
    border-radius: var(--container-border-radius);
    box-shadow: var(--box-shadow);
}
